<div class="coseCentro">
    <br>
    <% for (let product of prods) { %>
    <div class="card product-item">
        <div class="wrapper-big">
            <div class="wrapper-big_left">
                <div class="card__image">
                        <a href="/products/<%= product._id %>">
                    <img src="/images/<%= product.imageUrl %>" alt="<%= product.title %>">
                </a>
                </div>
                <a href="/products/<%= product._id %>" style="text-decoration: none; color: rgb(85, 85, 85)"><h1 class="product__title"><%= product.title %></h1></a>

            </div>
            <div class="wrapper-big_right">
                <div class="genere">
                    <%= product.genere %>
                </div>
                <div class="fornitore">
                    <strong><%= product.fornitore %></strong>
                </div>
                <div class="subscriber">
                    <div class="slidecontainer">
                        <input type="range" min="0" max="<%= product.ticket %>"
                            value="<%= product.ticketPresi %>" class="slider" id="myRange">
                    </div>
                </div>
                <div class="arrivo">

                    <img src="/images/<%= product.consegna %>consegna.png" alt="consegna">
                </div>
                <div class="card__actions">
                    

   

                    <% if (!product.isPresent) { %>
                    <% if (isAuthenticated) { %>
                    <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                    <% } %>
                    <% } else { %>
                    Joined
                    <!--                                 <form action="/cart-delete-item" method="POST">
                        <input type="hidden" value="<%= product._id %>" name="productId">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn danger" type="submit"><i class="fa fa-trash"></i></button>
                    </form> -->
                    <% } %>
                </div>
            </div>
        </div>
        
        <div class="card_comment">
        <% if (product.comments.items.length > 0) { %>
            <div class="card_comment_light">
                
                <%= product.comments.items.length %> 
                <% if (product.comments.items.length > 1) { %> 
                    comments
                <% } else { %>
                    comment
                <% } %>
            </div>
            <% xx=4 %>
            <% product.comments.items.forEach( sp => { %>
                <% xx=xx-1 %>
                <% if(xx>0) { %>
                <strong><%= sp.autore %></strong>: <%= sp.testo %> <br>
               
                <% } %>
                
            <% }) %>
        <% } else { %>
            
        <% } %>
    </div>
    </div>
        <br>
        <% } %>
    </div>