<%- include('head.ejs') %>

<style>
    #message {
        display: none;
        background: white;
        color: #000;
        position: relative;
        padding: 20px;
        margin-top: 10px;
    }

    #message p {
        padding: 10px 35px;
        font-size: 18px;
    }

    /* Add a green text color and a checkmark when the requirements are right */
    .valid {
        color: green;
    }

    .valid:before {
        position: relative;
        left: -35px;
        content: "✔";
    }

    /* Add a red text color and an "x" when the requirements are wrong */
    .invalid {
        color: red;
    }

    .invalid:before {
        position: relative;
        left: -35px;
        content: "✖";
    }
</style>

</head>

<body>

    <%- include('navbar2.ejs') %>

    <div class="tutto2">
        <div></div>
        <div class="centroaiuto">

            <div style="text-align: center;">
                <h1>Ciao <%= user.nickname %></h1>
                <form action="/resetpassword" method="post" enctype="multipart/form-data">
                    <p>Password</p>
                    <input type="password" name="password" id="psw1" pattern=".{6,}" required>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="resetToken" value="<%= resetToken %>">

                    <button style="margin: 20px" type="submit">Cambia password</button>
                </form> 
                <div id="message">
                    <p id="length" class="invalid">Minimo <b>6 caratteri</b></p>
                  </div>

                <script>
                    var myInput1 = document.getElementById("psw1");
                    var length = document.getElementById("length");

                    // When the user clicks on the password field, show the message box
                    myInput1.onfocus = function () {
                        document.getElementById("message").style.display = "block";
                    }

                    // When the user clicks outside of the password field, hide the message box
                    myInput1.onblur = function () {
                        document.getElementById("message").style.display = "none";
                    }

                    // When the user starts to type something inside the password field
                    myInput1.onkeyup = function () {


                        // Validate length
                        if (myInput1.value.length >= 6) {
                            length.classList.remove("invalid");
                            length.classList.add("valid");
                        } else {
                            length.classList.remove("valid");
                            length.classList.add("invalid");
                        }
                    }
                </script>

            </div>
        </div>
        <div></div>
    </div>

    <%- include('end.ejs') %>