<%- include('head.ejs') %>

</head>

<body>

  <%- include('navbar2.ejs') %>


    <div style="padding: 20px;"></div>

  <div class="tutto2">
    <div></div>
    <div style="text-align: center;">
<!-- utenti.length-->
      <% 
      var Num = utenti.length;
      var maschi=0, femmine=0, e1=0, e2=0, e3=0, e4=0;
        for(var i=0; i<Num; i++){
          if (utenti[i].userId){
          if (utenti[i].userId.sesso=='M') { maschi++; } else { femmine++; }
          if (utenti[i].userId.eta=="e1") { e1++;  }
          else if(utenti[i].userId.eta=="e2"){ e2++ }
          else if(utenti[i].userId.eta=="e3") { e3++ }
          else { e4++ }
          }
        }
        %> 

      <h1>numero utenti:  -- <%= Num %> -- </h1>
      <h2>maschi: <%= maschi %><br>
        femmine: <%= femmine %></h2>
      <h2>meno di 14: <%= e1 %><br>
        tra 14 e 18: <%= e2 %><br>
        tra 19 e 25: <%= e3 %><br>
        più di 25: <%= e4 %></h2>
      
      
        <% for(var i=0; i<Num; i++) { 
          if (utenti[i].userId){ %>
          <form id="logForm" action="/admin/eccoVincitore" method="POST"><button class="buttonCustom" type="submit" >Vincitore</button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input  type="hidden" name="nickname" value="<%= utenti[i].userId.nickname %>" >
            <input  type="hidden" name="nIscrizione" value="<%= utenti[i].userId.niscrizione %>" >
            <input  name="lotteriaId" type="hidden" value="<%= lotteriaId %>">
            <a href="https://www.instagram.com/<%= utenti[i].userId.nickname %>"> <%= utenti[i].userId.nickname %></a>
            
            
            
          </form>
            
        <% }} %>

        


    </div>
    <div></div>
  </div>



  <%- include('end.ejs') %>